*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}
/* HEADER */
header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.h-contain{
    width:calc(100% - 40px);
    margin: 20px 20px 10px;
    display: flex;
    justify-content: flex-end;
}

button{
    padding: 14px 16px;
    border: none;
    border-radius: 50%;
    margin: 0 15px;
    font-weight: 900;
}
/* END HEADER */

/* UTILITIES */
.container{
    height: 100vh;
    width: 100%;
    position: relative;
}

.contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contain h1{
    text-align: center;
    font-size: 50px;
    color: rgba(255,255,0,255) ;
}

.red{
    background-color: rgba(255,0,0,255);
}

.green{
    background-color: rgba(0,128,0,255);
}

.yellow{
    background-color: rgba(255,255,0,255);
}

#green-title{
    color: rgba(0,128,0,255);
    text-align: center;
    font-size: 50px;
}
/* END UTILITIES */









